Repository automa/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: api, config, console, docs

Upgrade storybook, fixes #98
  .storybook/main.ts
  .storybook/preview.tsx
  package.json
  src/shared/components/Button/Button.stories.tsx
  src/shared/components/Flex/Flex.stories.tsx
  src/shared/components/Link/Link.stories.tsx
  src/shared/components/Typography/Typography.stories.tsx
Due: none

Upgrade typescript
  .eslintrc.js
  package.json
Due: none

Update codecov config
  codecov.yml
Due: none

Improve github login flow
  db/migrations/00000000-init/up.sql
  packages/api/src/clients/github/caller.ts
  packages/api/src/routes/auth/github.ts
  packages/api/src/routes/callbacks/github.ts
  packages/common/src/error.ts
  packages/console/src/auth/views/AuthLogin/AuthLogin.tsx
  packages/console/src/views/App/App.tsx
  packages/prisma/schema.prisma
  tsconfig.json
Due: api, console

Use autohooks pattern
  packages/api/src/graphql/index.ts
  packages/api/src/index.ts
  packages/api/src/plugins/auth.ts
  packages/api/src/routes/api/autohooks.ts
  packages/api/src/session.ts
  packages/console/.env
Due: api, console

Change route path for repo overview
  packages/console/src/orgs/views/OrgList/OrgList.tsx
  packages/console/src/orgs/views/OrgOverview/OrgOverview.tsx
  packages/console/src/repos/routes.ts
Due: console

Use provider type from db in backend
  db/migrations/00000000-init/up.sql
  packages/api/src/graphql/schema/orgs.graphql
  packages/api/src/hooks/github/installation.ts
  packages/api/src/hooks/github/installationRepositories.ts
  packages/api/src/hooks/github/organization.ts
  packages/api/src/hooks/github/push.ts
  packages/api/src/hooks/github/repository.ts
  packages/api/src/plugins/github.ts
  packages/api/src/routes/callbacks/github.ts
  packages/common/src/graphql.ts
  packages/prisma/schema.prisma
Due: api

Added competitors enum for settings import
  db/migrations/00000000-init/up.sql
  packages/api/src/graphql/schema/repos.graphql
  packages/api/test/hooks/github/installation.test.ts
  packages/api/test/hooks/github/installation_repositories.test.ts
  packages/api/test/hooks/github/push.test.ts
  packages/api/test/hooks/github/repository.test.ts
  packages/common/src/graphql.ts
  packages/prisma/schema.prisma
Due: api

Allow connecting linear integration to an org
  db/migrations/00000000-init/up.sql
  generate-graphql.ts
  packages/api/package.json
  packages/api/src/env.ts
  packages/api/src/graphql/resolvers/integrations.ts
  packages/api/src/graphql/resolvers/orgs.ts
  packages/api/src/graphql/schema/integrations.graphql
  packages/api/src/graphql/schema/orgs.graphql
  packages/api/src/graphql/schema/repos.graphql
  packages/api/src/graphql/schema/scalars.graphql
  packages/api/src/graphql/schema/users.graphql
  packages/api/src/routes/api/orgs/_provider/_org/autohooks.ts
  packages/api/src/routes/api/orgs/_provider/_org/integrations/projects/linear.ts
  packages/api/src/routes/callbacks/linear.ts
  packages/api/src/session.ts
  packages/api/test/utils.ts
  packages/common/src/error.ts
  packages/common/src/graphql.ts
  packages/console/src/orgs/hooks/index.ts
  packages/console/src/orgs/hooks/useOrg.ts
  packages/console/src/orgs/hooks/useOrgIntegrations.ts
  packages/console/src/orgs/hooks/useOrgs.ts
  packages/console/src/orgs/queries.ts
  packages/console/src/orgs/routes.ts
  packages/console/src/orgs/views/OrgIntegrations/OrgIntegrations.styles.ts
  packages/console/src/orgs/views/OrgIntegrations/OrgIntegrationsProjects.tsx
  packages/console/src/orgs/views/OrgIntegrations/index.ts
  packages/console/src/orgs/views/OrgIntegrations/types.ts
  packages/console/src/repos/hooks/useRepo.ts
  packages/prisma/schema.prisma
  yarn.lock
Due: api, console

Disable swagger docs in production
  packages/api/src/index.ts
Due: api

Improve telemetry of request & response
  packages/api/src/plugins/telemetry.ts
Due: api

Rename OrgProjectProvider to ProjectIntegrationConnection
  generate-graphql.ts
  packages/api/src/graphql/resolvers/integrations.ts
  packages/api/src/graphql/resolvers/orgs.ts
  packages/api/src/graphql/schema/integrations.graphql
  packages/api/src/graphql/schema/orgs.graphql
  packages/common/src/graphql.ts
  packages/console/src/orgs/queries.ts
  packages/console/src/orgs/views/OrgIntegrations/OrgIntegrationsProjects.tsx
Due: api, console

Improve graphql architecture
  .lintstagedrc.js
  .prettierignore
  generate-graphql.ts
  package.json
  packages/api/package.json
  packages/api/src/graphql/index.ts
  packages/api/src/graphql/schema/index.graphql
  packages/api/src/graphql/types.ts
  packages/common/src/graphql.ts
  packages/console/.eslintrc.js
  packages/console/package.json
  packages/console/src/client.ts
  packages/console/src/gql/fragment-masking.ts
  packages/console/src/gql/gql.ts
  packages/console/src/gql/graphql.ts
  packages/console/src/gql/index.ts
  packages/console/src/orgs/hooks/useOrg.ts
  packages/console/src/orgs/hooks/useOrgIntegrations.ts
  packages/console/src/orgs/hooks/useOrgs.ts
  packages/console/src/orgs/index.ts
  packages/console/src/orgs/org.queries.ts
  packages/console/src/repos/hooks/useRepo.ts
  packages/console/src/repos/index.ts
  packages/console/src/repos/repo.queries.ts
  packages/console/src/shared/components/RoutesLoader/RoutesLoader.tsx
  packages/console/src/shared/components/RoutesLoader/types.ts
  packages/console/src/views/App/App.tsx
  packages/console/vite.config.ts
  scripts/local.config.js
  yarn.lock
Due: api, console

No need to generate graphql during build
  packages/api/Dockerfile
Due: api

Fix issues with upgrade
  .eslintrc.js
  packages/docs/.eslintrc.js
  yarn.lock
Due: docs

Upgrade vite to 5, fixes #101
  package.json
  vite.config.mts
Due: none

Improve routes loader
  src/shared/components/RoutesLoader/RoutesLoader.tsx
  src/shared/components/RoutesLoader/types.ts
  src/views/App/App.tsx
Due: none

Generate types for graphql
  .eslintrc.js
  .lintstagedrc.js
  .prettierignore
  generate-graphql.ts
  package.json
  vite.config.ts
Due: none

Improve error handling for axios
  src/views/App/App.tsx
Due: none

Improve graphql client
  package.json
  src/client.ts
Due: none

Migrate to pnpm
  .github/workflows/chromatic.yml
  .github/workflows/deploy-production.yml
  .github/workflows/lint.yml
  .github/workflows/relative.yml
  .github/workflows/test.yml
  .lintstagedrc.js
  .prettierignore
  README.md
  package.json
  src/auth/components/AuthNavbar/AuthNavbar.test.tsx
  src/auth/views/AuthLogin/AuthLogin.test.tsx
  src/auth/views/AuthLogout/AuthLogout.test.tsx
  src/views/App/App.test.tsx
Due: none

Upgrade redux
  package.json
  src/auth/slices/auth.ts
  src/store.ts
  src/tests.tsx
Due: none

Minor fixes to recent changes
  .github/workflows/chromatic.yml
  .github/workflows/deploy-production.yml
  .github/workflows/relative.yml
  .prettierignore
Due: none

Specify paths for test job
  .github/workflows/test.yml
Due: none

Separate the build check job
  .github/workflows/build-check.yml
  .github/workflows/lint.yml
Due: none

Ignore pnpm lock file for formatting
  .prettierignore
Due: none

Migrate to pnpm
  .prettierignore
  generate-graphql.ts
  package.json
  packages/api/Dockerfile
  packages/api/package.json
  packages/api/src/plugins/prisma.ts
  packages/common/package.json
  packages/common/src/graphql.ts
  packages/config/package.json
  packages/console/package.json
  packages/console/tsconfig.json
  packages/console/vite.config.mts
  packages/docs/package.json
  packages/prisma/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/local.config.js
  scripts/start-deps.sh
  scripts/start.sh
  scripts/stop.sh
  yarn.lock
Due: api, config, console, docs

Reduce duplicate code in github repository hook handling
  packages/api/src/hooks/github/repository.ts
Due: api

Improve types for stories
  .eslintrc.js
  .github/workflows/test.yml
  src/auth/components/AuthNavbar/AuthNavbar.stories.tsx
  src/auth/views/AuthLogin/AuthLogin.stories.tsx
  src/auth/views/AuthLogout/AuthLogout.stories.tsx
  src/shared/components/Button/Button.stories.tsx
  src/shared/components/Button/types.ts
  src/shared/components/ErrorCard/ErrorCard.stories.tsx
  src/shared/components/ErrorCard/types.ts
  src/shared/components/Flex/Flex.stories.tsx
  src/shared/components/Link/Link.stories.tsx
  src/shared/components/Link/types.ts
  src/shared/components/Loader/Loader.stories.tsx
  src/shared/components/ScreenSize/ScreenSize.stories.tsx
  src/shared/components/Table/Table.stories.tsx
  src/shared/components/Table/types.ts
  src/shared/components/Toast/Toast.stories.tsx
  src/shared/components/Toast/types.ts
  src/shared/components/Tooltip/Tooltip.stories.tsx
  src/shared/components/Tooltip/types.ts
  src/shared/components/Typography/Typography.stories.tsx
  src/shared/components/Typography/types.ts
  src/views/Home/Home.stories.tsx
Due: none

Use src folder for docs
  packages/docs/.eslintrc.js
  packages/docs/.storybook/main.ts
  packages/docs/components/Footer/Footer.stories.tsx
  packages/docs/components/Logo/Logo.stories.tsx
  packages/docs/pages/configuration/files.mdx
  packages/docs/src/analytics/components/AnalyticsProvider/AnalyticsProvider.tsx
  packages/docs/src/analytics/components/AnalyticsProvider/index.ts
  packages/docs/src/analytics/components/AnalyticsProvider/types.ts
  packages/docs/src/analytics/components/index.ts
  packages/docs/src/analytics/context.ts
  packages/docs/src/analytics/hooks/index.ts
  packages/docs/src/analytics/hooks/useAnalytics.ts
  packages/docs/src/analytics/index.ts
  packages/docs/src/components/Banner/Banner.stories.tsx
  packages/docs/src/components/Banner/Banner.tsx
  packages/docs/src/components/Banner/index.ts
  packages/docs/src/components/Banner/types.ts
  packages/docs/src/components/Callout/Callout.stories.tsx
  packages/docs/src/components/Callout/Callout.tsx
  packages/docs/src/components/Callout/index.ts
  packages/docs/src/components/Callout/types.ts
  packages/docs/src/components/Footer/Footer.stories.tsx
  packages/docs/src/components/Footer/Footer.tsx
  packages/docs/src/components/Footer/index.ts
  packages/docs/src/components/Footer/types.ts
  packages/docs/src/components/Logo/Logo.stories.tsx
  packages/docs/src/components/Logo/Logo.tsx
  packages/docs/src/components/Logo/index.ts
  packages/docs/src/components/Logo/types.ts
  packages/docs/src/components/fonts/Outfit.woff2
  packages/docs/src/components/index.css
  packages/docs/src/components/index.ts
  packages/docs/src/env.ts
  packages/docs/src/shared/hooks/index.ts
  packages/docs/src/shared/hooks/useAsyncEffect.ts
  packages/docs/src/shared/index.ts
  packages/docs/tailwind.config.ts
  packages/docs/theme.config.tsx
  packages/docs/tsconfig.json
Due: docs

Update codecov action to v4
  .github/workflows/test-api.yml
  .github/workflows/test-config.yml
  .github/workflows/test-console.yml
Due: none

Change to a better random slug library
  packages/api/package.json
  packages/api/src/routes/callbacks/linear.ts
  pnpm-lock.yaml
Due: api

Don't need build-check since we have relative
  .github/workflows/build-check.yml
Due: none

Don't need build-check since we have relative
  .github/workflows/build-check-console.yml
  .github/workflows/build-check-docs.yml
  .github/workflows/chromatic-docs.yml
  .github/workflows/deploy-production-docs.yml
  .github/workflows/deploy-staging-docs.yml
  .github/workflows/relative-docs.yml
Due: none

Upgrade styled-components
  .babel-plugin-macrosrc.js
  .eslintrc.js
  .storybook/preview.tsx
  package.json
  src/auth/components/AuthNavbar/AuthNavbar.styles.ts
  src/auth/views/AuthLogin/AuthLogin.styles.ts
  src/auth/views/AuthLogout/AuthLogout.styles.ts
  src/main.tsx
  src/shared/components/Button/Button.styles.ts
  src/shared/components/Button/types.ts
  src/shared/components/ErrorCard/ErrorCard.styles.ts
  src/shared/components/Flex/Flex.stories.tsx
  src/shared/components/Flex/Flex.styles.ts
  src/shared/components/Flex/Flex.tsx
  src/shared/components/Flex/types.ts
  src/shared/components/Link/Link.styles.ts
  src/shared/components/Loader/Loader.styles.ts
  src/shared/components/Table/Table.styles.ts
  src/shared/components/Toast/Toast.styles.ts
  src/shared/components/Tooltip/Tooltip.styles.ts
  src/shared/components/Typography/Typography.styles.ts
  src/shared/components/Typography/types.ts
  src/shared/hooks/useKeybindings.tsx
  src/shared/hooks/useMediaQueries.tsx
  src/tests.tsx
  src/theme/buttons.ts
  src/theme/global.ts
  src/theme/mediaQueries.ts
  src/theme/toasts.ts
  src/theme/typography.ts
  src/theme/utils.ts
  src/types/theme.d.ts
  src/views/App/App.styles.ts
  src/views/Home/Home.styles.ts
  vite.config.mts
Due: none

Added twin.macro
  .babel-plugin-macrosrc.js
  .eslintrc.js
  .prettierrc.js
  package.json
  postcss.config.js
  src/index.css
  src/main.tsx
  src/types/theme.d.ts
  tailwind.config.ts
  vite.config.mts
Due: none

Fix issues with upgrade
  packages/api/src/hooks/github/repository.ts
  packages/console/src/orgs/components/OrgList/OrgList.styles.ts
  packages/console/src/orgs/components/OrgList/OrgList.tsx
  packages/console/src/orgs/views/Org/Org.styles.ts
  packages/console/src/orgs/views/Org/Org.tsx
  packages/console/src/orgs/views/OrgIntegrations/OrgIntegrations.styles.ts
  packages/console/src/orgs/views/OrgIntegrations/OrgIntegrations.tsx
  packages/console/src/orgs/views/OrgOverview/OrgOverview.styles.ts
  packages/console/src/orgs/views/OrgOverview/OrgOverview.tsx
  packages/console/src/repos/views/Repo/Repo.styles.ts
  packages/console/src/repos/views/Repo/Repo.tsx
  packages/console/src/repos/views/RepoOverview/RepoOverview.styles.ts
  packages/console/src/repos/views/RepoOverview/RepoOverview.tsx
  packages/console/src/shared/components/Typography/Typography.stories.tsx
  packages/console/src/users/components/UserNavbar/UserNavbar.styles.ts
  packages/console/src/users/components/UserNavbar/UserNavbar.tsx
  packages/console/src/views/Dashboard/Dashboard.styles.ts
  packages/console/src/views/Dashboard/Dashboard.tsx
Due: api, console

Styled the login page
  package.json
  packages/console/.storybook/preview.tsx
  packages/console/src/assets/.gitkeep
  packages/console/src/assets/fonts/Manrope.woff2
  packages/console/src/assets/logo.svg
  packages/console/src/assets/logos/github.svg
  packages/console/src/assets/logos/gitlab.svg
  packages/console/src/auth/views/AuthLogin/AuthLogin.styles.ts
  packages/console/src/auth/views/AuthLogin/AuthLogin.tsx
  packages/console/src/index.css
  packages/console/src/shared/components/Button/Button.cva.ts
  packages/console/src/shared/components/Button/Button.stories.tsx
  packages/console/src/shared/components/Button/Button.styles.ts
  packages/console/src/shared/components/Tooltip/Tooltip.styles.ts
  packages/console/src/shared/components/Tooltip/Tooltip.tsx
  packages/console/src/shared/components/Typography/Typography.cva.ts
  packages/console/src/theme/fonts/.gitkeep
  packages/console/src/theme/index.ts
  packages/console/src/views/App/App.styles.ts
  packages/console/tailwind.config.ts
  packages/docs/.storybook/preview.tsx
  packages/docs/pages/_app.mdx
  packages/docs/src/assets/fonts/Outfit.woff2
  packages/docs/src/index.css
  packages/docs/tailwind.config.ts
  pnpm-lock.yaml
Due: console, docs

Path conditions:
  api: any of: packages/api
  config: any of: packages/config
  console: any of: packages/console
  docs: any of: packages/docs
