Repository automa/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend

Use meta.env for NODE_ENV
  src/store.ts
Due: none

Open the correct url during development
  vite.config.ts
Due: none

Add import lints
  .eslintrc.js
  src/auth/routes.ts
  src/auth/slices/auth.ts
  src/views/App/routes.ts
Due: none

Add internal regex for imports
  .eslintrc.js
  vite.config.ts
Due: none

Add paths for deployment
  .github/workflows/deploy-production.yml
Due: none

Build sourcemaps if needed
  package.json
  vite.config.ts
Due: none

Added relative ci to analyze stats
  .github/workflows/relative.yml
  package.json
  vite.config.ts
Due: none

Fix error logging when not starting server
  packages/api/src/index.ts
Due: api

Update opentelemetry
  packages/api/src/plugins/telemetry.ts
  packages/api/src/telemetry.ts
Due: api

Updated codecov ci
  .github/workflows/test.yml
Due: none

Updated codecov ci
  .github/workflows/api-test.yml
  .github/workflows/frontend-test.yml
Due: none

Fix env error
  packages/api/src/clients/github/caller.ts
Due: api

Update CI statues
  .github/workflows/api-test.yml
  .github/workflows/frontend-test.yml
Due: none

Update tsconfig
  packages/api/tsconfig.json
Due: api

Update postgres Dockerfile
  db/Dockerfile
Due: none

Update readme
  README.md
Due: none

Improve button stories code
  src/shared/components/Button/Button.stories.tsx
Due: none

Update node to 18
  .github/workflows/chromatic.yml
  .github/workflows/deploy-production.yml
  .github/workflows/lint.yml
  .github/workflows/relative.yml
  .github/workflows/test.yml
  package.json
Due: none

Upgrade node to 18
  .github/workflows/api-test.yml
  .github/workflows/chromatic.yml
  .github/workflows/frontend-deploy.yml
  .github/workflows/frontend-test.yml
  .github/workflows/lint.yml
Due: none

Update github org
  packages/api/test/fixtures/github/hooks/installation/added.json
  packages/api/test/fixtures/github/hooks/installation/deleted.json
  packages/api/test/fixtures/github/hooks/installation/suspend.json
  packages/api/test/fixtures/github/hooks/installation/unsuspend.json
  packages/api/test/fixtures/github/hooks/installation_repositories/added.json
  packages/api/test/fixtures/github/hooks/installation_repositories/removed.json
Due: api

Update CI job
  .github/workflows/deploy-production.yml
Due: none

Fix CI issues
  .eslintrc.js
  .github/workflows/chromatic-frontend.yml
  .github/workflows/deploy-production-frontend.yml
  .github/workflows/lint.yml
  .github/workflows/relative-frontend.yml
  .github/workflows/test-api.yml
  .github/workflows/test-frontend.yml
  packages/common/package.json
  packages/frontend/.eslintrc.js
  packages/frontend/vite.config.ts
  packages/prisma/package.json
Due: frontend

Fix issues with linting node_modules
  vite.config.ts
Due: none

Update storybook config
  .storybook/main.ts
  .storybook/preview.tsx
  package.json
Due: none

Update boilerplate
  .github/workflows/test-api.yml
  package.json
  packages/api/Dockerfile
  packages/api/package.json
  packages/api/railway.json
  packages/api/src/env.ts
  packages/api/src/graphql/index.ts
  packages/api/src/index.ts
  packages/api/src/plugins/analytics.ts
  packages/api/src/plugins/error.ts
  packages/api/src/plugins/optimizer.ts
  packages/api/src/plugins/redis.ts
  packages/api/src/plugins/telemetry.ts
  packages/api/src/session.ts
  packages/api/src/telemetry.ts
  packages/api/test/error.test.ts
  packages/api/test/utils.ts
  packages/common/package.json
  packages/prisma/package.json
  yarn.lock
Due: api

Update logging usage
  packages/api/src/routes/hooks/github.ts
Due: api

Handle archive and visibility statuses for repositories
  packages/api/src/hooks/github/index.ts
  packages/api/src/hooks/github/installation.ts
  packages/api/src/hooks/github/installationRepositories.ts
  packages/api/src/hooks/github/repository.ts
  packages/api/src/hooks/github/types.ts
Due: api

Use upsert for org & repo creation
  packages/api/src/hooks/github/installation.ts
  packages/api/src/hooks/github/installationRepositories.ts
Due: api

Handle repository rename event
  packages/api/src/hooks/github/repository.ts
Due: api

Update tests for github hooks
  package.json
  packages/api/src/hooks/github/installation.ts
  packages/api/src/hooks/github/installationRepositories.ts
  packages/api/src/routes/upgrade.ts
  packages/api/test/error.test.ts
  packages/api/test/fixtures/hooks/github/github_app_authorization/revoked.json
  packages/api/test/fixtures/hooks/github/installation/created.json
  packages/api/test/fixtures/hooks/github/installation/created2.json
  packages/api/test/fixtures/hooks/github/installation/deleted.json
  packages/api/test/fixtures/hooks/github/installation/suspend.json
  packages/api/test/fixtures/hooks/github/installation/unsuspend.json
  packages/api/test/fixtures/hooks/github/installation_repositories/added.json
  packages/api/test/fixtures/hooks/github/installation_repositories/removed.json
  packages/api/test/fixtures/hooks/github/repository/archived.json
  packages/api/test/fixtures/hooks/github/repository/privatized.json
  packages/api/test/fixtures/hooks/github/repository/publicized.json
  packages/api/test/fixtures/hooks/github/repository/renamed.json
  packages/api/test/fixtures/hooks/github/repository/unarchived.json
  packages/api/test/hooks/github/handler.test.ts
  packages/api/test/hooks/github/installation.test.ts
  packages/api/test/hooks/github/installation_repositories.test.ts
  packages/api/test/hooks/github/repository.test.ts
  packages/api/test/hooks/github/utils.ts
  packages/api/test/utils.ts
  yarn.lock
Due: api

Handle renaming of org
  packages/api/src/hooks/github/index.ts
  packages/api/src/hooks/github/organization.ts
  packages/api/src/hooks/github/types.ts
  packages/api/test/fixtures/hooks/github/organization/renamed.json
  packages/api/test/hooks/github/organization.test.ts
Due: api

Handle repository events (#6)
  package.json
  packages/api/src/hooks/github/index.ts
  packages/api/src/hooks/github/installation.ts
  packages/api/src/hooks/github/installationRepositories.ts
  packages/api/src/hooks/github/organization.ts
  packages/api/src/hooks/github/repository.ts
  packages/api/src/hooks/github/types.ts
  packages/api/src/routes/hooks/github.ts
  packages/api/src/routes/upgrade.ts
  packages/api/test/error.test.ts
  packages/api/test/fixtures/hooks/github/github_app_authorization/revoked.json
  packages/api/test/fixtures/hooks/github/installation/created.json
  packages/api/test/fixtures/hooks/github/installation/created2.json
  packages/api/test/fixtures/hooks/github/installation/deleted.json
  packages/api/test/fixtures/hooks/github/installation/suspend.json
  packages/api/test/fixtures/hooks/github/installation/unsuspend.json
  packages/api/test/fixtures/hooks/github/installation_repositories/added.json
  packages/api/test/fixtures/hooks/github/installation_repositories/removed.json
  packages/api/test/fixtures/hooks/github/organization/renamed.json
  packages/api/test/fixtures/hooks/github/repository/archived.json
  packages/api/test/fixtures/hooks/github/repository/privatized.json
  packages/api/test/fixtures/hooks/github/repository/publicized.json
  packages/api/test/fixtures/hooks/github/repository/renamed.json
  packages/api/test/fixtures/hooks/github/repository/unarchived.json
  packages/api/test/hooks/github/handler.test.ts
  packages/api/test/hooks/github/installation.test.ts
  packages/api/test/hooks/github/installation_repositories.test.ts
  packages/api/test/hooks/github/organization.test.ts
  packages/api/test/hooks/github/repository.test.ts
  packages/api/test/hooks/github/utils.ts
  packages/api/test/utils.ts
  yarn.lock
Due: api

Test adding/removing repos while suspended
  packages/api/src/hooks/github/installation.ts
  packages/api/src/hooks/github/installationRepositories.ts
  packages/api/test/hooks/github/installation_repositories.test.ts
Due: api

Sync repositories when unsuspending app
  packages/api/package.json
  packages/api/src/clients/github/caller.ts
  packages/api/src/clients/github/index.ts
  packages/api/src/clients/github/sync.ts
  packages/api/src/clients/utils.ts
  packages/api/src/hooks/github/installation.ts
  packages/api/src/hooks/github/installationRepositories.ts
  packages/api/src/telemetry.ts
  packages/api/test/hooks/github/installation.test.ts
  yarn.lock
Due: api

Build other packages for testing
  scripts/start-deps.sh
Due: none

Optimized images, fixes #92
  package.json
  vite.config.ts
Due: none

Better types for theme utils, fixes #21
  src/theme/utils.ts
Due: none

Implement feature flag support, fixes #61
  .env
  .github/workflows/deploy-production.yml
  package.json
  src/auth/types.ts
  src/env.ts
  src/main.tsx
  src/shared/components/RoutesLoader/RoutesLoader.tsx
  src/shared/hooks/index.ts
  src/shared/hooks/useOptimizer.ts
  src/shared/types.ts
  src/store.ts
  src/views/App/App.tsx
  src/vite-env.d.ts
  vite.config.ts
Due: none

Improve auth feature
  src/auth/components/AuthNavbar/AuthNavbar.stories.tsx
  src/auth/components/AuthNavbar/AuthNavbar.styles.ts
  src/auth/components/AuthNavbar/AuthNavbar.test.tsx
  src/auth/components/AuthNavbar/AuthNavbar.tsx
  src/auth/components/AuthNavbar/index.ts
  src/auth/components/AuthNavbar/types.ts
  src/auth/components/index.ts
  src/auth/index.ts
  src/views/App/App.tsx
  vite.config.ts
Due: none

Added graphql
  .env
  package.json
  src/client.ts
  src/main.tsx
  src/telemetry.ts
  src/vite-env.d.ts
Due: none

Path conditions:
  api: any of: packages/api
  frontend: any of: packages/frontend
