Repository automa/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Started on webhooks
  db/migrations/00000000-init.sql/up.sql
  packages/backend/src/env.ts
  packages/backend/src/hooks/github/index.ts
  packages/backend/src/hooks/github/installation.ts
  packages/backend/src/hooks/github/installationRepositories.ts
  packages/backend/src/hooks/github/types.ts
  packages/backend/src/hooks/index.ts
  packages/backend/src/routes/hooks/github.ts
  packages/prisma/schema.prisma
  scripts/ecosystem.config.js
Due: backend

Finished installation handling
  db/migrations/00000000-init/down.sql
  db/migrations/00000000-init/seed.sql
  db/migrations/00000000-init/up.sql
  packages/backend/package.json
  packages/backend/schema.prisma
  packages/backend/src/env.ts
  packages/backend/src/hooks/github/installation.ts
  packages/backend/src/hooks/github/installationRepositories.ts
  packages/backend/src/routes/hooks/github.ts
  packages/backend/src/utils/github.ts
  packages/backend/test/fixtures/github/hooks/installation/added.json
  packages/backend/test/fixtures/github/hooks/installation/deleted.json
  packages/backend/test/fixtures/github/hooks/installation_repositories/added.json
  packages/backend/test/fixtures/github/hooks/installation_repositories/removed.json
  packages/prisma/schema.prisma
  packages/prisma/src/index.ts
  scripts/ecosystem.config.js
  yarn.lock
Due: backend

Finished installation suspension handling
  db/migrations/00000000-init/up.sql
  packages/backend/src/hooks/github/githubAppAuthorization.ts
  packages/backend/src/hooks/github/index.ts
  packages/backend/src/hooks/github/installation.ts
  packages/backend/src/hooks/github/types.ts
  packages/backend/src/routes/callbacks/github.ts
  packages/backend/test/fixtures/github/hooks/github_app_authorization/revoked.json
  packages/backend/test/fixtures/github/hooks/installation/suspend.json
  packages/backend/test/fixtures/github/hooks/installation/unsuspend.json
  packages/prisma/schema.prisma
Due: backend

Renamed is_active data column to has_installation
  db/migrations/00000000-init/up.sql
  packages/backend/src/hooks/github/installation.ts
  packages/backend/src/hooks/github/installationRepositories.ts
  packages/prisma/schema.prisma
Due: backend

Added graphql
  .eslintrc.js
  .github/workflows/lint.yml
  .lintstagedrc.js
  .prettierignore
  db/migrations/00000000-init/down.sql
  db/migrations/00000000-init/up.sql
  generate-graphql.ts
  package.json
  packages/backend/package.json
  packages/backend/src/graphql/index.ts
  packages/backend/src/graphql/resolvers/orgs.ts
  packages/backend/src/graphql/resolvers/repos.ts
  packages/backend/src/graphql/schema/orgs.graphql
  packages/backend/src/graphql/schema/repos.graphql
  packages/backend/src/graphql/types.ts
  packages/backend/src/index.ts
  packages/backend/src/session.ts
  packages/common/src/graphql.ts
  packages/common/src/index.ts
  packages/frontend/package.json
  packages/frontend/src/client.ts
  packages/frontend/src/index.tsx
  packages/frontend/src/views/App/App.tsx
  packages/frontend/src/views/Home/Home.tsx
  packages/frontend/src/views/Home/queries.ts
  packages/prisma/package.json
  packages/prisma/schema.prisma
  scripts/ecosystem.config.js
  yarn.lock
Due: backend, frontend

Finished org module
  packages/backend/src/clients/github/index.ts
  packages/backend/src/clients/github/sync.ts
  packages/backend/src/graphql/resolvers/orgs.ts
  packages/backend/src/graphql/schema/orgs.graphql
  packages/backend/src/plugins/auth.ts
  packages/backend/src/plugins/github.ts
  packages/backend/src/routes/api/sync.ts
  packages/backend/src/routes/callbacks/github.ts
  packages/common/src/graphql.ts
  packages/frontend/src/auth/index.ts
  packages/frontend/src/auth/routes.ts
  packages/frontend/src/orgs/hooks/index.ts
  packages/frontend/src/orgs/hooks/useOrg.ts
  packages/frontend/src/orgs/hooks/useOrgs.ts
  packages/frontend/src/orgs/index.ts
  packages/frontend/src/orgs/queries.ts
  packages/frontend/src/orgs/routes.ts
  packages/frontend/src/orgs/views/OrgList/OrgList.stories.tsx
  packages/frontend/src/orgs/views/OrgList/OrgList.styles.ts
  packages/frontend/src/orgs/views/OrgList/OrgList.test.tsx
  packages/frontend/src/orgs/views/OrgList/OrgList.tsx
  packages/frontend/src/orgs/views/OrgList/index.ts
  packages/frontend/src/orgs/views/OrgList/types.ts
  packages/frontend/src/orgs/views/OrgOverview/OrgOverview.stories.tsx
  packages/frontend/src/orgs/views/OrgOverview/OrgOverview.styles.ts
  packages/frontend/src/orgs/views/OrgOverview/OrgOverview.test.tsx
  packages/frontend/src/orgs/views/OrgOverview/OrgOverview.tsx
  packages/frontend/src/orgs/views/OrgOverview/index.ts
  packages/frontend/src/orgs/views/OrgOverview/types.ts
  packages/frontend/src/views/App/App.test.tsx
  packages/frontend/src/views/App/routes.ts
  packages/frontend/src/views/Home/Home.stories.tsx
  packages/frontend/src/views/Home/Home.styles.ts
  packages/frontend/src/views/Home/Home.tsx
  packages/frontend/src/views/Home/index.ts
  packages/frontend/src/views/Home/queries.ts
  packages/frontend/src/views/Home/types.ts
Due: backend, frontend

Run upgrader and create PR
  packages/backend/src/clients/github/caller.ts
  packages/backend/src/clients/github/index.ts
  packages/backend/src/routes/upgrade.ts
Due: backend

Wait for fonts to load before rendering
  package.json
  src/index.tsx
  src/theme/index.ts
Due: none

Added fetch mock
  .eslintrc.js
  package.json
  src/setupTests.ts
  src/shared/components/Button/Button.stories.tsx
  src/shared/components/Button/Button.styles.ts
  src/shared/components/Flex/Flex.stories.tsx
  src/shared/components/Link/Link.stories.tsx
  src/shared/components/Table/Table.stories.tsx
  src/shared/components/Typography/Typography.stories.tsx
  src/tests.tsx
  src/views/App/App.test.tsx
Due: none

Fix hooks
  .prettierignore
  src/shared/hooks/useAsyncEffect.ts
  src/shared/hooks/useEffectAfterMount.ts
  src/shared/hooks/useKeybinding.ts
  src/tests.tsx
Due: none

Improve keybinding hook
  src/shared/hooks/index.ts
  src/shared/hooks/useKeybinding.ts
  src/shared/hooks/useKeybindings.tsx
Due: none

Implemented auth module
  src/auth/hooks/index.ts
  src/auth/hooks/useAuth.ts
  src/auth/hooks/useUser.ts
  src/auth/index.ts
  src/auth/routes.ts
  src/auth/slices/auth.ts
  src/auth/slices/index.ts
  src/auth/types.ts
  src/auth/views/AuthLogin/AuthLogin.stories.tsx
  src/auth/views/AuthLogin/AuthLogin.styles.ts
  src/auth/views/AuthLogin/AuthLogin.test.tsx
  src/auth/views/AuthLogin/AuthLogin.tsx
  src/auth/views/AuthLogin/index.ts
  src/auth/views/AuthLogin/types.ts
  src/store.ts
  src/views/App/App.test.tsx
  src/views/App/App.tsx
  src/views/App/routes.ts
  src/views/Home/Home.tsx
Due: none

Misc improvements
  .eslintrc.js
  .lintstagedrc.js
  src/shared/hooks/index.ts
  src/shared/hooks/useEffectAfterMount.ts
Due: none

Use pg_jsonschema extension
  db/Dockerfile
  db/migrations/00000000-init/down.sql
  db/migrations/00000000-init/up.sql
  packages/prisma/schema.prisma
  yarn.lock
Due: none

Use ulid in database
  db/Dockerfile
  db/migrations/00000000-init/down.sql
  db/migrations/00000000-init/up.sql
Due: none

Upgrade to react 18
  package.json
  src/index.tsx
  src/shared/components/Tooltip/Tooltip.stories.tsx
  src/shared/components/Tooltip/Tooltip.tsx
  src/shared/components/Tooltip/types.ts
  src/shared/hooks/useKeybindings.tsx
  src/tests.tsx
Due: none

Update yarn.lock
  yarn.lock
Due: none

Added backend dockerfile
  packages/backend/Dockerfile
  packages/backend/src/clients/github/caller.ts
  packages/backend/src/routes/upgrade.ts
  railway.json
Due: backend

Added prisma tracing
  packages/backend/Dockerfile
  packages/backend/package.json
  packages/backend/src/env.ts
  packages/backend/src/index.ts
  packages/backend/src/session.ts
  packages/backend/src/telemetry.ts
  packages/prisma/schema.prisma
  yarn.lock
Due: backend

Add fastify and apollo tracing
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/src/telemetry.ts
  yarn.lock
Due: none

Use env-schema directly
  packages/api/package.json
  packages/api/src/env.ts
  packages/api/src/index.ts
  yarn.lock
Due: none

Sync the repos the user has access to
  packages/api/src/clients/github/sync.ts
Due: none

Added auth logout
  src/auth/routes.ts
  src/auth/views/AuthLogout/AuthLogout.stories.tsx
  src/auth/views/AuthLogout/AuthLogout.styles.ts
  src/auth/views/AuthLogout/AuthLogout.test.tsx
  src/auth/views/AuthLogout/AuthLogout.tsx
  src/auth/views/AuthLogout/index.ts
  src/auth/views/AuthLogout/types.ts
Due: none

Fix bug with axios interceptors
  packages/frontend/src/auth/views/AuthLogout/AuthLogout.tsx
  packages/frontend/src/views/App/App.tsx
Due: frontend

Finish org overview and repo overview pages
  .github/workflows/api-test.yml
  generate-graphql.ts
  package.json
  packages/api/src/graphql/resolvers/orgs.ts
  packages/api/src/graphql/resolvers/repos.ts
  packages/api/src/graphql/schema/orgs.graphql
  packages/api/src/graphql/schema/repos.graphql
  packages/common/src/graphql.ts
  packages/frontend/src/auth/components/AuthNavbar/AuthNavbar.test.tsx
  packages/frontend/src/orgs/queries.ts
  packages/frontend/src/orgs/views/OrgList/OrgList.tsx
  packages/frontend/src/orgs/views/OrgOverview/OrgOverview.test.tsx
  packages/frontend/src/orgs/views/OrgOverview/OrgOverview.tsx
  packages/frontend/src/repos/hooks/index.ts
  packages/frontend/src/repos/hooks/useRepo.ts
  packages/frontend/src/repos/index.ts
  packages/frontend/src/repos/queries.ts
  packages/frontend/src/repos/routes.ts
  packages/frontend/src/repos/views/RepoOverview/RepoOverview.stories.tsx
  packages/frontend/src/repos/views/RepoOverview/RepoOverview.styles.ts
  packages/frontend/src/repos/views/RepoOverview/RepoOverview.test.tsx
  packages/frontend/src/repos/views/RepoOverview/RepoOverview.tsx
  packages/frontend/src/repos/views/RepoOverview/index.ts
  packages/frontend/src/repos/views/RepoOverview/types.ts
  packages/frontend/src/views/App/routes.ts
Due: frontend

Fix prisma DB url env
  packages/api/src/env.ts
  packages/api/src/index.ts
  packages/api/src/plugins/prisma.ts
  packages/prisma/.env
  packages/prisma/schema.prisma
  packages/prisma/src/index.ts
  scripts/docker-compose.yml
Due: none

Remove .env references from Dockerfile
  packages/api/Dockerfile
Due: none

Update frontend logos
  packages/frontend/public/favicon.ico
  packages/frontend/public/favicon.svg
  packages/frontend/public/index.html
  packages/frontend/public/logo192.png
  packages/frontend/public/logo512.png
  packages/frontend/public/manifest.json
Due: frontend

Update ci pipelines
  .github/workflows/api-test.yml
  .github/workflows/chromatic.yml
  .github/workflows/frontend-deploy.yml
  .github/workflows/frontend-test.yml
  .github/workflows/lint.yml
Due: none

Use opentelemetry
  packages/api/package.json
  packages/api/src/env.ts
  packages/api/src/index.ts
  packages/api/src/logger.ts
  packages/api/src/plugins/github.ts
  packages/api/src/plugins/prisma.ts
  packages/api/src/plugins/telemetry.ts
  packages/api/src/routes/auth/github.ts
  packages/api/src/routes/callbacks/github.ts
  packages/api/src/routes/hooks/github.ts
  packages/api/src/session.ts
  packages/api/src/telemetry.ts
  scripts/docker-compose.yml
  scripts/prometheus.yml
  yarn.lock
Due: none

Add version to opentelemetry
  packages/api/src/telemetry.ts
  packages/api/tsconfig.json
Due: none

Fix typescript import linting
  .eslintrc.js
  package.json
  packages/api/src/telemetry.ts
  yarn.lock
Due: none

Use vite instead of webpack
  .eslintrc.js
  .storybook/main.js
  .storybook/preview.jsx
  index.html
  package.json
  public/index.html
  src/auth/views/AuthLogin/AuthLogin.tsx
  src/main.tsx
  src/react-app-env.d.ts
  src/setupTests.ts
  src/shared/components/Button/Button.styles.ts
  src/shared/components/Link/Link.styles.ts
  src/shared/components/Typography/Typography.styles.ts
  src/shared/hooks/useEffectAfterMount.ts
  src/shared/hooks/useKeybindings.tsx
  src/tests.tsx
  src/theme/index.ts
  src/theme/utils.ts
  src/views/App/App.tsx
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
Due: none

Added svg plugin for vite
  package.json
  public/robots.txt
  src/vite-env.d.ts
  vite.config.ts
Due: none

Update tests
  .github/workflows/chromatic.yml
  .github/workflows/deploy-production.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  src/tests.tsx
  src/vite-env.d.ts
Due: none

Update minor misc things
  .github/workflows/lint.yml
  .storybook/main.js
  package.json
Due: none

Fix env vars
  packages/frontend/.env
  packages/frontend/src/auth/views/AuthLogin/AuthLogin.tsx
  packages/frontend/src/client.ts
  packages/frontend/src/store.ts
  packages/frontend/src/vite-env.d.ts
Due: frontend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
